Repository open-mmlab/mmagic, pull requests merged in 2021-04, with the labels that each got.

#243 fix onnx conversion of maxunpool2d
  mmedit/models/backbones/encoder_decoders/decoders/plain_decoder.py
Labels: onnx

#265 [Feature] Update pytorch2onnx
  docs/tools_scripts.md
  tools/pytorch2onnx.py
Labels: onnx

#274 Update weights and re-evaluate models
  configs/restorers/basicvsr/README.md
  configs/restorers/basicvsr/basicvsr_reds4.py
  configs/restorers/basicvsr/basicvsr_vimeo90k_bd.py
  configs/restorers/basicvsr/basicvsr_vimeo90k_bi.py
  configs/restorers/iconvsr/README.md
  configs/restorers/iconvsr/iconvsr_reds4.py
  configs/restorers/iconvsr/iconvsr_vimeo90k_bd.py
  configs/restorers/iconvsr/iconvsr_vimeo90k_bi.py
Labels: DO NOT MERGE

#279 [Feature]: Add onnx evaluation tool
  docs/tools_scripts.md
  mmedit/core/export/__init__.py
  mmedit/core/export/wrappers.py
  requirements/tests.txt
  setup.cfg
  tests/test_onnx_wraper.py
  tools/deploy_test.py
Labels: need test, onnx
